h1,h2,h3,h4,h5,h6{
    margin:5px 0px;
    text-align: center;
}
.section{
    width: 235px;
    padding:10px 0px;   
    margin: 20px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
}
.left-panel{
    float: left;
    width:65%;
}
.right-panel{
    border:1px solid black;
    border-radius: 10px;
    padding:10px;
    width:30%;
    float:right;
}
.images{
    width: 100px;
    height: 90px;
}
button {
    line-height: 30px;
    background-color: #4CAF50;
    border: 1px solid green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.button-add{
    width:30px;
    background: #4CAF50;
}
.button-val{
    width:30px;
    background: none;
    color:black;
}
.button-minus{
    width:30px;
    background: red
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 8px 2px;  
}
td{
    text-align: left;
    font-size: 14px;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}